@{
    ViewBag.Title = "WITSML";
}

<div class="jumbotron">
    <h1>WITSMLS</h1>
    <p class="lead">WITSML es gratis</p>
    <p><a href="https://www.energistics.org/portfolio/witsml-data-standards/" class="btn btn-primary btn-lg">Leer mas &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Comenzar</h2>
        <p>
            Wistml no es Wits
        </p>
        <p><a class="btn btn-default" href="https://www.energistics.org/portfolio/witsml-data-standards/">Ver mas &raquo;</a></p>
    </div>
</div>

